*,
*::after,
*::before {
    box-sizing: border-box;
}

main {
    min-height: 82vh;
    .main-form {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .main-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .main-deck {
            width: calc(100% - 398px);
        }
        .main-builder {
            width: 366px;
        }
        @media (max-width: 768px) {
            flex-direction: column-reverse;
            .main-deck,
            .main-builder {
                width: 100%;
            }
        }
    }
}

.btn,
.builder-card-action {
    cursor: pointer;
}
