@import "../mixins/screen";
.app-forms {
    display: flex;
    flex-direction: column;
    > .form-group {
        display: flex;
        flex-direction: column;
    }
    label {
        margin-bottom: 0;
        line-height: 38px;
    }
    input[type="file"] {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    @include screen(min, md) {
        > .form-group {
            flex-direction: row;
        }
        input[title="Deck Title"] {
            max-width: 175px;
        }
        .btn {
            min-width: 225px;
            max-width: 275px;
            margin-left: 10px;
        }
        label {
            min-width: 100px;
            max-width: 150px;
        }
    }
}
