@import "../mixins/screen";
.app-forms {
    display: flex;
    flex-direction: column;
    > .form-group {
        display: flex;
        flex-direction: column;
        input,
        button,
        select {
            margin-bottom: 0.5rem;
        }
    }
    label {
        margin-bottom: 0;
        line-height: 38px;
    }
    input[type="file"] {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    @include screen(min, md) {
        > .form-group {
            flex-direction: row;
            input,
            button,
            select {
                margin-bottom: 0;
            }
        }
        input[title="Deck Title"] {
            max-width: 300px;
        }
        .btn {
            min-width: 225px;
            max-width: 275px;
            margin-left: 10px;
            &.btn-tiny {
                max-width: 40px;
                min-width: 0;
            }
        }
        label {
            min-width: 100px;
            max-width: 150px;
        }
    }
}
