@import "../mixins/screen";
.priceapp-header {
    text-align: center;
}

.btn {
    cursor: pointer;
}

.container {
    @include screen(max, xl) {
        max-width: 100%;
    }
}

h3 {
    font-size: 1.2rem;
}
