/**
* Overrides for ygoprodeck.com overrides
*/

.decktool {
    .fas {
        color: $white;
        /**
        * Weird offset I have no idea why it is there
        */
        position: relative;
        top: 1px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        background: transparent;
        border-radius: 0;
        padding: 0.375rem 0.75rem;
    }
    input[type="text"]:focus,
    textarea:focus {
        box-shadow: none;
        padding: 0.375rem 0.75rem;
        margin: 0;
        border-color: $gray-400;
    }
    .form-group {
        line-height: 1.5;
    }
    .modal {
        /*
        * Welcome to z-index hell
        */
        z-index: 1001;
    }
}

.deck-card img {
    width: 100px;
    height: 135px;
}
