{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "chrome >= 58"],
                "uglify": false
            },
            "modules": false,
            "loose": true
        }]
    ]
}
