.priceapp *,
.priceapp *::after,
.priceapp *::before {
  box-sizing: border-box;
}

.priceapp .main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.priceapp .main-form,
.priceapp .main-deck,
.priceapp .main-builder {
  width: 100%;
}

.priceapp .main-form {
  margin-top: 40px;
  margin-bottom: 40px;
  order: 0;
}

.priceapp .main-deck {
  order: 2;
  width: 100%;
  max-width: calc(100% - 440px - 20px);
}

.priceapp .main-builder {
  width: 100%;
  max-width: 440px;
  order: 3;
}

@media (max-width: 1020px) {
  .priceapp .main-deck {
    max-width: calc(100% - 340px - 20px);
  }
  .priceapp .main-builder {
    max-width: 340px;
  }
}

@media (max-width: 768px) {
  .priceapp .main-deck,
  .priceapp .main-builder {
    max-width: 100%;
  }
  .priceapp .main-builder {
    order: 1;
  }
}

.priceapp .btn,
.priceapp .builder-card-action {
  cursor: pointer;
}

.priceapp h1,
.priceapp h2 {
  text-align: center;
}

.priceapp h1 {
  margin-top: 20px;
}

.priceapp h2 {
  font-size: 1.2em;
}

.priceapp h3 {
  margin-top: 0;
  margin-bottom: 8px;
}

.priceapp h4 {
  font-size: 1.25rem;
  padding-bottom: 0;
  margin: 0;
}

.priceapp .form-app-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: nowrap;
  align-items: center;
}

.priceapp .form-app-group > div {
  height: 100%;
}

.priceapp .form-app-label {
  width: 15%;
}

.priceapp .form-app-field-primary {
  width: 100%;
  padding-right: 10px;
}

.priceapp .form-app-field-secondary {
  width: 100%;
  padding-left: 10px;
  max-width: 320px;
  color: #fff;
}

@media (max-width: 768px) {
  .priceapp .form-app-group {
    flex-wrap: wrap;
  }
  .priceapp .form-app-label {
    width: 100%;
    margin-bottom: 10px;
  }
  .priceapp .form-app-field-primary,
  .priceapp .form-app-field-secondary {
    width: 50%;
  }
  .priceapp .form-app-field-secondary {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .priceapp .form-app-field-primary,
  .priceapp .form-app-field-secondary {
    width: 100%;
    padding: 0;
  }
  .priceapp .form-app-field-primary {
    margin-bottom: 6px;
  }
}

.priceapp input[type="file"] {
  padding-top: 0.31rem;
  padding-bottom: 0.31rem;
}

.priceapp input[type=text] {
  margin: 0;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #555555;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.priceapp .deck .deck-part {
  margin-bottom: 40px;
}

.priceapp .deck .deck-part-main .deck-content {
  background-color: #907057;
}

.priceapp .deck .deck-part-extra .deck-content {
  background-color: #935293;
}

.priceapp .deck .deck-part-side .deck-content {
  background-color: #54925a;
}

.priceapp .deck-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.priceapp .deck-content {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.priceapp .deck-card {
  position: relative;
  margin: 6px;
}

.priceapp .deck-card-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f7f7;
  opacity: 0;
  transition: opacity 0.2s;
  text-align: center;
  color: #292929;
  word-wrap: break-word;
  line-height: 1.25em;
  font-size: 13px;
}

.priceapp .deck-card-text:focus, .priceapp .deck-card-text:hover {
  opacity: 1;
}

.priceapp .deck-card-price p {
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

.priceapp .deck-price {
  display: flex;
  justify-content: space-between;
  margin-left: 6px;
}

.priceapp .deck-price.deck-price--sm {
  margin-left: 0;
  flex-direction: column;
}

.priceapp .deck-price.deck-price--sm .deck-price-item {
  line-height: 22px;
}

.priceapp .deck-price-item {
  line-height: 26px;
  padding-left: 6px;
  padding-right: 6px;
}

.priceapp .pricemode-low {
  background-color: #ddffc9;
}

.priceapp .pricemode-average {
  background-color: #fff8b7;
}

.priceapp .pricemode-high {
  background-color: #ffdad0;
}

.priceapp .builder-search {
  margin-bottom: 20px;
}

.priceapp .builder-list {
  max-height: 60vh;
  width: 100%;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  resize: horizontal;
  border: 1px solid #dbdbdb;
  margin-top: 20px;
}

.priceapp .builder-card {
  border-top: 1px solid #dbdbdb;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.priceapp .builder-card:first-child {
  border-top-width: 0px;
}

.priceapp .builder-card-action .fa,
.priceapp .builder-card-name {
  padding: 10px 0;
}

.priceapp .builder-card-action {
  width: 108px;
}

.priceapp .builder-card-action .fa {
  width: 34px;
  text-align: center;
  opacity: 0.9;
  font-size: 1.2em;
}

.priceapp .builder-card-action .fa:active {
  opacity: 1;
}

.priceapp .builder-card-action .fa.deck-part-main {
  color: #907057;
}

.priceapp .builder-card-action .fa.deck-part-extra {
  color: #935293;
}

.priceapp .builder-card-action .fa.deck-part-side {
  color: #54925a;
}

.priceapp .builder-card-name {
  width: calc(100% - 108px);
}
