h3 Deckbuilder:
.builder
    p Showing {{builder.pairsFiltered.length}} of {{cards.pairs.length}} Cards
    .form
        input.form-control.builder-search#builderSearch(type="text",placeholder="Search",v-model="builder.filter",@input="builderUpdateNames()")
    ul.builder-list(v-if="ajax.namesLoaded")
        include ./builder/card.template.pug
    .builder-description
        p - Click the pluses in the list to add a card.
        p - Right-click a card in the deck to remove it.
