div(v-if="ajax.namesLoaded")
    h3 Deckbuilder:
    .builder
        p Showing {{builder.pairsFiltered.length}} of {{cards.pairs.length}} Cards
        .form
            input.form-control.builder-search#builderSearch(type="text",placeholder="Search",v-model="builder.filter",@input="builderUpdateNames()")
        ul.builder-list
            include ./builder/card.template.pug
