h3 Decklist:
.deck(v-if="ajax.namesLoaded")
    .deck-part.deck-part-total(v-if="ajax.pricesLoaded")
        .deck-title
            h4 Total:
            .deck-price
                span.deck-price-item.pricemode(v-for="mode in price.modes",v-bind:class="'pricemode-'+mode.id") {{priceForSection("*",mode.id)}}
    .deck-part(v-for="deckpart in deckparts",v-bind:class="'deck-part-'+deckpart.id")
        .deck-title
            h4 {{deckpart.name}} Deck ({{deck.list[deckpart.id].length}} Cards):
            .deck-price(v-if="ajax.pricesLoaded")
                span.deck-price-item.pricemode(v-for="mode in price.modes",v-bind:class="'pricemode-'+mode.id") {{priceForSection(deckpart.id,mode.id)}}
        .deck-content(v-if="cards.data")
            include ./deck/card.template.pug
