//-.deck
    .deck-part.deck-main
        .deck-title
            h3 Total:
            .deck-total
                span() main.data.price.modes[$index].name: main.calcPrice(price)
    .deck-part()
        .deck-title
            h3 deckpart.name:
            .deck-total()
                span(style="background-color:main.data.price.modes[$index].color") main.data.price.modes[$index].name: main.calcPrice(price)
        .deck-content(style="background-color:deckpart.color")
            include ./deck/card.template.pug
