div(v-if="ajax.namesLoaded")
    h3 Decklist:
    .deck
        .deck-part.deck-part-total(v-if="ajax.pricesLoaded")
            .deck-title
                h4 Total:
                .deck-price
                    span.deck-price-item(v-for="mode in price.modes",v-bind:style="'background-color:'+mode.color") {{priceForSection("*",mode.id)}}
        .deck-part(v-for="deckpart in deckparts",v-if="deck.list[deckpart.id] && deck.list[deckpart.id].length")
            .deck-title
                h4 {{deckpart.name}} Deck ({{deck.list[deckpart.id].length}} Cards):
                .deck-price(v-if="ajax.pricesLoaded")
                    span.deck-price-item(v-for="mode in price.modes",v-bind:style="'background-color:'+mode.color") {{priceForSection(deckpart.id,mode.id)}}
            .deck-content(v-bind:style="'background-color:'+deckpart.color",v-if="cards.data")
                include ./deck/card.template.pug
