.form-app-wrapper.form-group
    label.form-app-label Deck:
    .form-app-item
        input.form-control#formUploadDeck(type="file",title="Upload Deck",accept=".ydk",@change="fileOnUpload")
        input.form-control.deck-name(type="text",title="Deck Title",placeholder="Deck Title",v-model="deck.name",@input="deckUpdate()")
    a.btn.btn-primary.form-control(title="Download Deck",download,@click="fileDownloadDeck()") Download
.form-app-wrapper.form-group
    label.form-app-label Share:
    .form-app-item
        input.form-control#formLinkShare(type="url",title="Shareable Link",v-bind:value="uriLocationNoParam() + deck.link")
    a.btn.btn-primary.form-control(title="Copy Decklist to Clipboard",@click="fileDownloadDeck()") Copy Decklist to Clipboard
.form-app-wrapper.form-group
    label.form-app-label Price:
    .form-app-item
        select.form-control.deck-currency(title="Price Currency",v-model="price.activeCurrency")
            option(v-for="currency in price.currencies",v-bind:value="currency.id") {{currency.name}}
    .btn.btn-primary.form-control(title="Load Prices",@click="apiLoadPrices()")
        span(v-bind:hidden="ajax.currentlyLoading") Load Prices
        span(v-bind:hidden="!ajax.currentlyLoading")
            i.fa.fa-circle-o-notch.fa-spin.fa-fw
