.form.form-main
    //-Deck upload
    .form-group.row
        include ./form/upload.template.pug
    //-Share link
    .form-group.row
        include ./form/share.template.pug
    //-Price settings
    .form-group.row
        include ./form/price.template.pug
