.form.form-main
    //-Deck file
    .form-group.row
        include ./form/file.template.pug
    //-Share link
    .form-group.row
        include ./form/share.template.pug
    //-Price settings
    .form-group.row
        include ./form/price.template.pug
