.form-app-group
    .form-app-label
        label Deck:
    .form-app-field-primary
        input.form-control#formUploadDeck(type="file",accept=".ydk",@change="onFileChange",title="Upload Deck")
    .form-app-field-secondary
        input.form-control(type="text",placeholder="Deck Title",v-model="deck.name",@input="deckUpdate()")
.form-app-group
    .form-app-label
        label Share:
    .form-app-field-primary
        input.form-control#formLinkShare(type="url",v-bind:value="uriLocationNoParam() + deck.link",title="Shareable Link")
    .form-app-field-secondary
        a.btn.btn-primary.form-control(download,@click="fileDownloadDeck()") Download
.form-app-group
    .form-app-label
        label Price:
    .form-app-field-primary
        select.form-control(v-model="price.activeCurrency",title="Price Currency")
            option(v-for="currency in price.currencies",v-bind:value="currency.id") {{currency.name}}
    .form-app-field-secondary
        .btn.btn-primary.form-control(@click="apiLoadPrices()",title="Load Prices")
            span(v-bind:hidden="ajax.currentlyLoading") Load Prices
            span(v-bind:hidden="!ajax.currentlyLoading")
                i.fa.fa-circle-o-notch.fa-spin.fa-fw
