/**
* Overrides for ygoprodeck.com overrides.
* Yeah.
*/

.decktool {
    .fas {
        position: relative;
        /**
        * Weird offset I have no idea why it is there
        */
        top: 1px;
        color: $white;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        padding: 0.375rem 0.75rem;
        border-radius: 0;
        background: transparent;
    }

    input[type="text"]:focus,
    textarea:focus {
        margin: 0;
        padding: 0.375rem 0.75rem;
        border-color: $gray-400;
        box-shadow: none;
    }

    .form-group {
        line-height: 1.5;
    }

}

.modal-backdrop {
    z-index: 0;
}

.deck-card img {
    width: 100px;
    height: 135px;
}
