$color-deckpart-main: #9e7a50;
$color-deckpart-extra: #9b78ac;
$color-deckpart-side: #6aa06a;
$color-pricemode-low: #e8fa8e;
$color-pricemode-average: #fff18c;
$color-pricemode-high: #ffdb7f;



// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:              true;
$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       false;