//
// Variables
///

// Custom variables to override defaults of 3rd Party Styles
@import "./bootstrap/variables";
@import "./bootstrap/reboot-mixin";

@import "./bootstrap-vue/variables";

@import "./vue-select/variables";

// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Bootstrap Vue
@import "~bootstrap-vue/src/variables";
@import "~bootstrap-vue/src/utilities";

// Vue Select
@import "~vue-select/src/scss/global/variables";

//
// Main Styles
//
.deck-tool,
.deck-tool__portal {
    //
    // Bootstrap
    //
    @import "~bootstrap/scss/root";
    @include reboot(); // Custom reboot variant
    @import "~bootstrap/scss/type";
    @import "~bootstrap/scss/images";
    // @import "~bootstrap/scss/code";
    @import "~bootstrap/scss/grid";
    // @import "~bootstrap/scss/tables";
    @import "~bootstrap/scss/forms";
    @import "~bootstrap/scss/buttons";
    @import "~bootstrap/scss/transitions";
    @import "~bootstrap/scss/dropdown";
    @import "~bootstrap/scss/button-group";
    // @import "~bootstrap/scss/input-group";
    // @import "~bootstrap/scss/custom-forms";
    // @import "~bootstrap/scss/nav";
    // @import "~bootstrap/scss/navbar";
    // @import "~bootstrap/scss/card";
    // @import "~bootstrap/scss/breadcrumb";
    // @import "~bootstrap/scss/pagination";
    // @import "~bootstrap/scss/badge";
    // @import "~bootstrap/scss/jumbotron";
    // @import "~bootstrap/scss/alert";
    // @import "~bootstrap/scss/progress";
    // @import "~bootstrap/scss/media";
    // @import "~bootstrap/scss/list-group";
    @import "~bootstrap/scss/close";
    @import "~bootstrap/scss/toasts";
    @import "~bootstrap/scss/modal";
    @import "~bootstrap/scss/tooltip";
    // @import "~bootstrap/scss/popover";
    // @import "~bootstrap/scss/carousel";
    @import "~bootstrap/scss/spinners";
    @import "~bootstrap/scss/utilities";
    // @import "~bootstrap/scss/print";

    // Bootstrap Vue
    // @import "~bootstrap-vue/src/custom-controls";
    // @import "~bootstrap-vue/src/components/avatar/index";
    // @import "~bootstrap-vue/src/components/calendar/index";
    // @import "~bootstrap-vue/src/components/card/index";
    @import "~bootstrap-vue/src/components/dropdown/index";
    // @import "~bootstrap-vue/src/components/form-checkbox/index";
    // @import "~bootstrap-vue/src/components/form-file/index";
    // @import "~bootstrap-vue/src/components/form-input/index";
    // @import "~bootstrap-vue/src/components/form-radio/index";
    // @import "~bootstrap-vue/src/components/form-rating/index";
    // @import "~bootstrap-vue/src/components/form-spinbutton/index";
    // @import "~bootstrap-vue/src/components/form-tags/index";
    // @import "~bootstrap-vue/src/components/input-group/index";
    @import "~bootstrap-vue/src/components/modal/index";
    // @import "~bootstrap-vue/src/components/nav/index";
    // @import "~bootstrap-vue/src/components/navbar/index";
    // @import "~bootstrap-vue/src/components/pagination/index";
    // @import "~bootstrap-vue/src/components/pagination-nav/index";
    // @import "~bootstrap-vue/src/components/popover/index";
    @import "~bootstrap-vue/src/components/sidebar/index";
    // @import "~bootstrap-vue/src/components/table/index";
    // @import "~bootstrap-vue/src/components/time/index";
    @import "~bootstrap-vue/src/components/toast/index";
    @import "~bootstrap-vue/src/components/tooltip/index";
    // @import "~bootstrap-vue/src/icons/index";

    // Vue Select
    @import "~vue-select/src/scss/global/component";
    @import "~vue-select/src/scss/global/animations";
    @import "~vue-select/src/scss/global/states";
    @import "~vue-select/src/scss/modules/dropdown-toggle";
    @import "~vue-select/src/scss/modules/open-indicator";
    @import "~vue-select/src/scss/modules/clear";
    @import "~vue-select/src/scss/modules/dropdown-menu";
    @import "~vue-select/src/scss/modules/dropdown-option";
    @import "~vue-select/src/scss/modules/selected";
    @import "~vue-select/src/scss/modules/search-input";
    // @import "~vue-select/src/scss/modules/spinner";
    @import "./vue-select/adjustments";

    // App
    @import "general";
}

// Some elements have to be placed outside the .deck-tool, these are global
// Note that these styles are included both in the above section and here, to decrease the odds of specificity issues
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/tooltip";

@import "~bootstrap-vue/src/components/modal/modal";
@import "~bootstrap-vue/src/components/toast/index";
@import "~bootstrap-vue/src/components/tooltip/index";
@import "~bootstrap-vue/src/components/sidebar/index";
