label.col-xs-12.col-md-3.col-form-label(for="formUploadDeck") Upload Deck:
.col-xs-12.col-md-9
    input.form-control#formUploadDeck(type="file",accept=".ydk",on-read-file="main.onUpload($fileContent,$fileName)",value="Select Deck")
