.builder-search {
    margin-bottom: 20px;
}

.builder-list {
    max-height: 60vh;
    width: 100%;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    resize: horizontal;
    border: 1px solid $gray-lighter;
    margin-top: 20px;
}

.builder-card {
    border-top: 1px solid $gray-lighter;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    &:first-child {
        border-top-width: 0px;
    }
}

.builder-card-action .fa,
.builder-card-name {
    padding: 10px 0;
}

.builder-card-action {
    width: 108px;
    .fa {
        width: 34px;
        text-align: center;
        opacity: 0.9;
        font-size: 1.2em;
        &:active {
            opacity: 1;
        }
        &.deck-part {
            &-main {
                color: $color-deckpart-main;
            }
            &-extra {
                color: $color-deckpart-extra;
            }
            &-side {
                color: $color-deckpart-side;
            }
        }
    }
}

.builder-card-name {
    width:calc(100% - 108px);
}

