.builder {
    .builder-search {
        margin-bottom: 20px;
    }

    .builder-list {
        height: 60vh;
        width: 100%;
        overflow-y: scroll;
        list-style: none;
        padding: 0;
        margin: 0;
        resize: horizontal;

        .builder-card {
            border-bottom: 1px solid $gray-lighter;
            padding: 5px 0;
            cursor: pointer;
            word-break: break-all;

            &:hover {
                background-color: $gray-lightest;
            }
        }
    }
}
