.builder {
    .builder-search {
        margin-bottom: 20px;
    }

    .builder-list {
        max-height: 60vh;
        width: 100%;
        overflow-y: scroll;
        list-style: none;
        padding: 0;
        margin: 0;
        resize: both;

        .builder-card {
            border-bottom: 1px solid $gray-lighter;
            padding: 5px 0;
            cursor: pointer;
            word-break: break-all;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;

            .builder-card-action {
                display: flex;
                justify-content: space-between;
                margin-right: 8px;
                align-items: center;

                .fa-plus {
                    padding: 0 4px;
                }
            }
        }
    }
}
