.deck {
    .deck-part {
        margin-bottom: 40px;

        .deck-title {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;

            h3 {
                margin: 0;
            }
        }

        .deck-content {
            padding: 5px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
    }
}
