.deck {
    .deck-part {
        margin-bottom: 40px;

        .deck-title {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
        }

        .deck-content {
            border: 3px solid #ababab;
            min-height: 130px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
    }
}
