.form-app-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    >div {
        height: 100%;
    }
    .form-app-label {
        width: 15%;
    }
    .form-app-field-primary {
        width: 55%;
    }
    .form-app-field-secondary {
        width: 30%;
        padding-left: 14px;
        max-width: 320px;
    }
}

input[type="file"] {
    padding-top: 0.31rem;
    padding-bottom: 0.31rem;
}

//Monkey-patching style overwrite on ygoprodeck.com
input[type=text] {
    margin: 0;
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #555555;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
