.form-main {
    margin-top: 40px;
    margin-bottom: 40px;

    .form-control {
        margin-bottom: 8px;
    }
}

input[type="file"] {
    padding-top: 0.31rem;
    padding-bottom: 0.31rem;
}
//Monkey-patching style overwrite on ygoprodeck.com
input[type=text] {
    margin: 0;
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #555555;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
