.form-app-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.form-app-wrapper .btn {
    max-width: 260px;
    margin-left: 18px;
}

.form-app-label {
    flex: 1;
}

input[type="file"] {
    padding: 5px; //max-width: 260px;
}

.deck-name {
    max-width: 220px;
}

.form-app-item {
    display: flex;
    width: 60%;
    input,
    select {
        width: 100%;
    }
}

@media (max-width: map-get($grid-breakpoints, md)) {
    .form-app-wrapper {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .form-app-label {
        width: 100%;
        margin-bottom: 10px;
    }
    .form-app-item {
        flex-direction: column;
        margin-bottom: 8px;
        width: 100%;
        &:first-child{
            margin-bottom: 12px;
        }
    }
    .deck-name,
    .form-app-wrapper .btn {
        max-width: 100%;
        margin-left: 0;
    }
}


/*
@media (max-width: map-get($grid-breakpoints,sm)) {
    .form-app-field-primary,
    .form-app-field-secondary {
        width: 100%;
        padding: 0;
    }
    .form-app-field-primary {
        margin-bottom: 6px;
    }
}
*/

//Monkey-patching style overwrite on ygoprodeck.com
input[type=text] {
    margin: 0;
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #555555;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
