<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YGODeckPrice</title>
    <link rel="apple-touch-icon" sizes="180x180" href="icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/lib/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/app.css">
</head>

<body>
    <div class="container">
        <div class="priceapp">
            <header>
                <h1>YuGiOh Deck Price v2.0</h1>
                <h2>Check the average price for your YgoPro/DevPro .ydk files</h2>
            </header>
            <main id="app">
                <div class="main-form">
                    <div class="form form-main">
                        <div class="form-group row">
                            <label class="col-xs-12 col-md-3 col-form-label">Deck:</label>
                            <div class="col-xs-12 col-md-9">
                                <div class="row">
                                    <div class="col-xs-6 col-md-8">
                                        <input class="form-control" id="formUploadDeck" type="file" accept=".ydk" @change="onFileChange" title="Upload Deck">
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <input class="form-control" type="text" placeholder="Deck Title" v-model="deck.name" @input="deckUpdate()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-12 col-md-3 col-form-label">Share:</label>
                            <div class="col-xs-12 col-md-9">
                                <div class="row">
                                    <div class="col-xs-6 col-md-8">
                                        <input class="form-control" id="formLinkShare" type="url" v-bind:value="uriLocationNoParam() + deck.link" title="Shareable Link">
                                    </div>
                                    <div class="col-xs-6 col-md-4"><a class="btn btn-primary form-control" download @click="fileDownloadDeck()">Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-12 col-md-3 col-form-label">Price:</label>
                            <div class="col-xs-12 col-md-9">
                                <div class="row">
                                    <div class="col-xs-12 col-md-8">
                                        <select class="form-control" v-model="price.activeCurrency" title="Price Currency">
                                            <option v-for="currency in price.currencies" v-bind:value="currency.id">{{currency.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <div class="btn btn-primary form-control" @click="apiLoadPrices()" title="Load Prices"><span v-bind:hidden="ajax.currentlyLoading">Load Prices</span><span v-bind:hidden="!ajax.currentlyLoading"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-deck">
                    <div v-if="ajax.namesLoaded">
                        <h3>Decklist:</h3>
                        <div class="deck">
                            <div class="deck-part deck-part-total" v-if="ajax.pricesLoaded">
                                <div class="deck-title">
                                    <h4>Total:</h4>
                                    <div class="deck-price"><span class="deck-price-item" v-for="mode in price.modes" v-bind:style="'background-color:'+mode.color">{{priceForSection("*",mode.id)}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="deck-part" v-for="deckpart in deckparts" v-if="deck.list[deckpart.id] &amp;&amp; deck.list[deckpart.id].length">
                                <div class="deck-title">
                                    <h4>{{deckpart.name}} Deck ({{deck.list[deckpart.id].length}} Cards):</h4>
                                    <div class="deck-price" v-if="ajax.pricesLoaded"><span class="deck-price-item" v-for="mode in price.modes" v-bind:style="'background-color:'+mode.color">{{priceForSection(deckpart.id,mode.id)}}</span>
                                    </div>
                                </div>
                                <div class="deck-content" v-bind:style="'background-color:'+deckpart.color" v-if="cards.data">
                                    <a class="deck-card" target="_blank" v-for="cardId in deck.list[deckpart.id]" v-if="cards.data[cardId]" v-bind:href="cards.data[cardId].link" @contextmenu.prevent="builderDeckRemove(cardId,deckpart.id)">
                                        <div class="deck-card-image">
                                            <img width="100" height="134" v-bind:src="cards.data[cardId].img">
                                        </div>
                                        <div class="deck-card-text">
                                            <div class="deck-card-name">{{cards.data[cardId].name}}</div>
                                            <div class="deck-price deck-price--sm" v-if="ajax.pricesLoaded"><span class="deck-price-item" v-for="mode in price.modes" v-bind:style="'background-color:'+mode.color">{{priceForCard(cardId,mode.id)}}</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-builder">
                    <div v-if="ajax.namesLoaded">
                        <h3>Deckbuilder:</h3>
                        <div class="builder">
                            <p>Showing {{builder.pairsFiltered.length}} of {{cards.pairs.length}} Cards</p>
                            <div class="form">
                                <input class="form-control builder-search" id="builderSearch" type="text" placeholder="Search" v-model="builder.filter" @input="builderUpdateNames()">
                            </div>
                            <ul class="builder-list">
                                <li class="builder-card" v-for="card in builder.pairsFiltered">
                                    <div class="builder-card-action">
                                        <div class="fa fa-plus" v-for="deckpart in deckparts" v-bind:style="'color:'+deckpart.color" @click="builderDeckAdd(card[0],deckpart.id)" v-bind:title="'Add Card to '+deckpart.name+' Deck'"></div>
                                    </div>
                                    <div class="builder-card-name">{{card[1]}}</div>
                                </li>
                            </ul>
                            <div class="builder-description">
                                <p>- Click the pluses in the list to add a card.</p>
                                <p>- Right-click a card in the deck to remove it.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer>
                <p>Price data and Images from the <a href="http://yugiohprices.com/" target="_blank">yugiohprices.com</a> API</p>
            </footer>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>