.container
    .priceapp
        header
            h1 YuGiOh Deck Price v3.0
            h2 Check the average price for your YgoPro/DevPro .ydk files
        main#app
            .main-form
                include ../templates/form.template.pug
            .main-row
                .main-deck(v-if="ajax.namesLoaded")
                    include ../templates/deck.template.pug
                .main-builder(v-if="ajax.namesLoaded")
                    include ../templates/builder.template.pug
        footer
            p Price data and Images from the #[a(href="http://yugiohprices.com/",target="_blank") yugiohprices.com] API
