$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$green: #799a60;
$yellow: #fad85c;
$brown: #b97b51;
$orange: #dc8525;
$red: #d26c6c;
$purple: #9683b8;
$blue: #82aef8;

$primary: $brown;
$secondary: darken($primary, 13.25%);
$success: $green;
$info: $purple;
$warning: $orange;
$danger: $red;


$color-deck-part-main: $brown;
$color-deck-part-extra: $purple;
$color-deck-part-side: $green;

$color-vendor-tcgplayer: #0e5b93;
$color-vendor-cardmarket: #012169;
$color-vendor-coolstuffinc: #41bfc3;

$font-family-base: "Open Sans", sans-serif;

$font-size-base: 0.9rem;
$font-size-lg: $font-size-base * 1.1;
$font-size-sm: $font-size-base * 0.95;

$grid-breakpoints: (
    xs: 0,
    sm: 600px,
    md: 766px,
    lg: 1054px,
    xl: 1220px,
);

$container-max-widths: (
    sm: 600px,
    md: 766px,
    lg: 1054px,
    xl: 1220px,
);
