// Color system

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
);

$indigo: #6610f2;
$pink: #e83e8c;
$red: #dc3545;
$teal: #20c997;
$cyan: #17a2b8;
$green: #799a60;
$yellow: #fad85c;
$orange: #dc8525;
$red: #d26c6c;
$purple: #9683b8;
$blue: #82aef8;
$brown: #b97b51;

$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800,
);

$primary: $brown;
$secondary: darken($primary, 13.25%);
$success: $green;
$info: $purple;
$warning: $orange;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);

$color-deck-part-main: $brown;
$color-deck-part-extra: $purple;
$color-deck-part-side: $green;

$color-vendor-tcgplayer: #0e5b93;
$color-vendor-cardmarket: #012169;
$color-vendor-coolstuffinc: #41bfc3;

// Font system

$font-family-base: "Open Sans", sans-serif;

$font-size-base: 0.9rem;
$font-size-lg: $font-size-base * 1.15;
$font-size-md: $font-size-base * 0.925;
$font-size-sm: $font-size-base * 0.85;

// Breakpoints / Spacing

$grid-breakpoints: (
    xs: 0,
    sm: 600px,
    md: 766px,
    lg: 1054px,
    xl: 1220px,
);

$container-max-widths: (
    sm: 600px,
    md: 766px,
    lg: 1054px,
    xl: 1220px,
);

$margin-sm: 0.25rem;
$margin-md: 0.5rem;
$margin-lg: 1rem;
