@import "../variables";

@mixin price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    &--group {
        justify-content: flex-start;
        flex-direction: row;
        margin-bottom: 0.5rem;
    }

    &__vendor {
        font-size: 0.9em;
        display: inline-block;
        padding: 4px 6px;
        text-align: center;
        color: $white;

        &--tcgplayer {
            background-color: $color-vendor-tcgplayer;
        }

        &--cardmarket {
            background-color: $color-vendor-cardmarket;
        }

        &--coolstuffinc {
            background-color: $color-vendor-coolstuffinc;
        }
    }
    &__warning {
        padding-left: 0.5rem;
        padding-right: 0.25rem;
        cursor: help;
    }
}
