.deck-price {
    display: flex;
    justify-content: space-between;
    margin-left: 6px;
    &.deck-price--sm {
        margin-left: 0;
        flex-direction: column;
        .deck-price-item {
            line-height: 22px;
        }
    }
}

.deck-price-item {
    line-height: 26px;
    padding-left: 6px;
    padding-right: 6px;
}

.pricemode {
    &-low {
        background-color: $color-pricemode-low;
    }
    &-average {
        background-color: $color-pricemode-average;
    }
    &-high {
        background-color: $color-pricemode-high;
    }
}
