// Unify size with bootstrap input
.vs__dropdown-toggle, .vs__dropdown-menu {
	font-size: 0.9rem;
}
.vs__dropdown-toggle {
	padding: 1px 0 5px 0;
}

// Fix icon offset
.vs__clear > svg {
	position: relative;
	top: -2px;
}
