@import "../../../browser-common/styles/variables";

$vs-colors: (
	lightest: $gray-400,
	light: $gray-500,
	dark: $gray-700,
	darkest: $gray-800,
);

//  Global Component Variables
$vs-component-bg: $white;
$vs-component-line-height: 1.5;

//  Active State
$vs-state-active-bg: $primary;
$vs-state-active-color: $white;

//  Disabled State
$vs-state-disabled-bg: $gray-100;
$vs-state-disabled-color: $gray-500;
$vs-state-disabled-controls-color: $gray-500;

//  Borders
$vs-border-radius: 0;
$vs-border-color: $gray-400;

//  Component Controls: Clear, Open Indicator
$vs-controls-color: $gray-500;

//  Selected
$vs-selected-bg: $gray-100;

//  Dropdown
$vs-dropdown-z-index: 1000;
$vs-dropdown-box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
$vs-dropdown-bg: $white;
