@import "~@yugioh-deck-tool/browser-common/src/styles/variables";
@import "~@yugioh-deck-tool/browser-common/src/styles/component/price";
@import "~@yugioh-deck-tool/browser-common/src/styles/mixins";

.card-tooltip {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    &__content {
        font-family: $font-family-base;
        font-size: 0.675em;
        color: $white;
        background-color: $gray-800;
        border: 1px solid $black;
        opacity: 0.95;

        max-width: 550px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.25rem;

        @include screen-min-width(sm) {
            font-size: 0.75em;
            padding: 0.5rem;
        }
        @include screen-min-width(md) {
            font-size: 0.825em;
        }
    }

    &__details__col {
        width: 85%;
        display: flex;
        flex-direction: column;

        @include screen-min-width(sm) {
            width: 80%;
        }
        @include screen-min-width(md) {
            width: 75%;
        }
        @include screen-min-width(lg) {
            width: 70%;
        }
    }

    &__image__col {
        width: calc(15% - 0.25rem);
        display: flex;
        flex-direction: column;

        @include screen-min-width(sm) {
            width: calc(20% - 0.5rem);
        }
        @include screen-min-width(md) {
            width: calc(25% - 0.75rem);
        }
        @include screen-min-width(lg) {
            width: calc(30% - 0.75rem);
        }
    }

    &__details,
    &__stats,
    &__subtype,
    &__level,
    &__link-markers,
    &__loading,
    &__error {
        display: flex;
        align-items: center;
        margin-bottom: 0.325rem;
        @include screen-min-width(sm) {
            margin-bottom: 0.5rem;
        }

        img {
            height: 15px;
            @include screen-min-width(sm) {
                height: 20px;
            }
        }

        span {
            display: flex;
            align-items: center;
        }

        span:not(:last-child),
        img:not(:last-child) {
            margin-right: 0.325rem;
        }

        img:not(:first-child) {
            margin-left: 0.325rem;
        }
    }

    &__loading,
    &__error {
        margin-bottom: 0;
    }

    &__error {
        color: $danger;
    }

    &__name {
        font-weight: bold;
        font-size: 1.1em;
    }

    &__link-markers {
        img {
            width: 16px;
        }
    }

    &__description {
        p {
            margin: 0;
            line-height: 1.5;
        }
    }

    &__price {
        margin-top: 0.75rem;
        font-size: 1.1em;
        display: none;
        @include screen-min-width(sm) {
            display: flex;
            @include price();
        }
    }

    &__image {
        width: 100%;
        height: auto;
    }
}
