a.deck-card(target="_blank")
    .deck-card-image
        img(width="150",height="220")
    .deck-card-text
        .deck-card-name card.name
        .deck-card-price()
          p(style="background-color:main.data.price.modes[$index].color") i main.calcPrice(price)
