a.deck-card(target="_blank",v-for="cardId in deck.list[deckpart.id]",v-if="cards.data[cardId]")
    .deck-card-image
        img(width="150",height="220",v-bind:src="cards.data[cardId].img")
    .deck-card-text
        .deck-card-name {{cards.data[cardId].name}}
        .deck-card-price
            span.deck-price-item(v-for="mode in price.modes",v-bind:style="'background-color:'+mode.color") 1.0$
