doctype html
html(lang="en")
    head
        //-Meta
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        //-Title
        title YGODeckPrice
        //-Stylesheets
        //-  Libs
        link(type="text/css",rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(type="text/css",rel="stylesheet",href="css/lib/bootstrap.css")
        //-  App
        link(type="text/css",rel="stylesheet",href="css/app.css")
    body
        //-Content
        include ./views/main.view.pug
        //-Scripts
        //-  App
        script(type="text/javascript",src="js/main.js")
