$color-deckpart-main:#907057;
$color-deckpart-extra:#935293;
$color-deckpart-side:#54925a;

$color-pricemode-low:#ddffc9;
$color-pricemode-average:#fff8b7;
$color-pricemode-high:#ffdad0;

@import "node_modules/bootstrap/scss/functions";
@import "variables";

@import "main/normalize";
@import "bootstrap";

html {
    font-family: sans-serif; // 2
    line-height: 1.15; // 3
  }

.priceapp {
    @import "main/general";
    @import "main/typo";
    @import "blocks/forms";
    @import "blocks/deck";
    @import "blocks/card";
    @import "blocks/price";
    @import "blocks/builder";
}
