$color-deckpart-main:#907057;
$color-deckpart-extra:#935293;
$color-deckpart-side:#54925a;

$color-pricemode-low:#ddffc9;
$color-pricemode-average:#fff8b7;
$color-pricemode-high:#ffdad0;

@import "variables";

.priceapp {
    @import "main/general";
    @import "main/typo";
    @import "blocks/forms";
    @import "blocks/deck";
    @import "blocks/card";
    @import "blocks/price";
    @import "blocks/builder";
}
