@import "../../../../../../node_modules/@yugioh-deck-tool/browser-common/src/styles/variables";

$vs-colors: (
	lightest: $gray-400,
	light: $gray-500,
	dark: $gray-700,
	darkest: $gray-800,
);

//  Global Component Variables
$vs-component-line-height: inherit;
$vs-component-placeholder-color: inherit;

//  Active State
$vs-state-active-bg: $primary;
$vs-state-active-color: $white;

//  Disabled State
$vs-state-disabled-bg: $gray-100;
$vs-state-disabled-color: map_get($vs-colors, "light");
$vs-state-disabled-controls-color: map_get($vs-colors, "light");
$vs-state-disabled-cursor: not-allowed;

//  Borders
$vs-border-width: 1px;
$vs-border-style: solid;
$vs-border-radius: 0;
$vs-border-color: map_get($vs-colors, "lightest");

//  Component Controls: Clear, Open Indicator
$vs-controls-color: map_get($vs-colors, "light");
$vs-controls-size: 1;
$vs-controls-deselect-text-shadow: none;

//  Selected
$vs-selected-bg: $gray-100;
$vs-selected-border-color: $vs-border-color;
$vs-selected-border-style: $vs-border-style;
$vs-selected-border-width: $vs-border-width;

//  Dropdown
$vs-dropdown-z-index: 1000;
$vs-dropdown-min-width: 160px;
$vs-dropdown-max-height: 350px;
$vs-dropdown-box-shadow: none;
$vs-dropdown-bg: $white;
