@import "variables";

@mixin price {
    .price {
        &.price--group {
            margin-bottom: 0.5rem;
        }

        &:not(.price--group) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .price__vendor {
        font-size: 0.9em;
        display: inline-block;
        padding: 4px;
        text-align: center;
        color: $white;

        &--tcgplayer {
            background-color: $color-vendor-tcgplayer;
        }

        &--cardmarket {
            background-color: $color-vendor-cardmarket;
        }

        &--coolstuffinc {
            background-color: $color-vendor-coolstuffinc;
        }
    }
}
