@import "variables";

@mixin price {
    .price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--group {
            justify-content: flex-start;
            flex-direction: row;
            margin-bottom: 0.5rem;
        }
    }

    .price__vendor {
        font-size: 0.9em;
        display: inline-block;
        padding: 4px 6px;
        text-align: center;
        color: $white;

        &--tcgplayer {
            background-color: $color-vendor-tcgplayer;
        }

        &--cardmarket {
            background-color: $color-vendor-cardmarket;
        }

        &--coolstuffinc {
            background-color: $color-vendor-coolstuffinc;
        }
    }
}
