li.builder-card(v-for="card in builder.pairsFiltered")
    .builder-card-action
        .fa.fa-plus.deck-part(v-for="deckpart in deckparts",v-bind:class="'deck-part-'+deckpart.id",@click="builderDeckAdd(card[0],deckpart.id)",v-bind:title="'Add Card to '+deckpart.name+' Deck'")
    .builder-card-name {{card[1]}}
