@import "../ui/src/styles/variables";
@import "../ui/src/styles/component/price";
@import "../ui/src/styles/mixin/screen";

.card-tooltip {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    &__content {
        font-family: $font-family-base;
        font-size: 0.75em;
        color: $white;
        background-color: $gray-800;
        border: 1px solid $black;
        opacity: 0.95;

        max-width: 550px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.5rem;

        @include screen(min, sm) {
            font-size: 0.9em;
        }
    }

    &__details__col {
        width: 80%;
        display: flex;
        flex-direction: column;

        @include screen(min, sm) {
            width: 70%;
        }
    }

    &__image__col {
        width: calc(20% - 0.75rem);
        display: flex;
        flex-direction: column;

        @include screen(min, sm) {
            width: calc(30% - 0.75rem);
        }
    }

    &__details,
    &__stats,
    &__subtype,
    &__level,
    &__link-markers,
    &__loading,
    &__error {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        img {
            height: 20px;
        }

        span {
            display: flex;
            align-items: center;
        }

        span:not(:last-child),
        img:not(:last-child) {
            margin-right: 0.4rem;
        }
    }

    &__loading,
    &__error {
        margin-bottom: 0;
    }
    &__error {
        color: $error;
    }

    &__name {
        font-weight: bold;
        font-size: 1.1em;
    }

    &__link-markers {
        img {
            width: 16px;
        }
    }

    &__description {
        p {
            margin: 0;
        }
    }

    &__price {
        margin-top: 0.75rem;
        font-size: 1.1em;
        @include price();
    }

    &__image {
        width: 100%;
        height: auto;
        margin-bottom: 0.75rem;
    }

    &__votes {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;

        @include screen(min, sm) {
            font-size: 1.25em;
        }

        > span:not(:last-child) {
            margin-right: 0.5rem;

            @include screen(min, sm) {
                margin-right: 1rem;
            }
        }

        .fas {
            margin-right: 0.25rem;

            &.fa-arrow-up {
                color: $color-vote-up;
            }

            &.fa-arrow-down {
                color: $color-vote-down;
            }
        }
    }
}
