@import "../ui/src/styles/variables.custom";

.yugioh-tooltip__content {
    background-color: $brown;
    max-width: 550px;
    max-height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__details {
        width: 65%;
    }

    &__image {
        width: 35%;
    }

    &__misc {
        width: 100%;
    }
}
